In [30]:
import pandas as pd
import datetime as pt
import matplotlib

In [31]:
data_path = "Estimated_variable_mortgage_rate.csv"
interest_rate = pd.read_csv(data_path)
interest_rate

          Date  Estimated variable mortgage rate
0   2020-10-29                              1.87
1   2020-10-22                              1.87
2   2020-10-15                              1.87
3   2020-10-08                              1.91
4   2020-10-01                              1.91
..         ...                               ...
91  2019-01-31                              2.78
92  2019-01-24                              2.77
93  2019-01-17                              2.77
94  2019-01-10                              2.76
95  2019-01-03                              2.76

[96 rows x 2 columns]

In [32]:
interest_rate['Date_tmp'] = interest_rate["Date"]
#interest_rate.columns
interest_rate

          Date  Estimated variable mortgage rate    Date_tmp
0   2020-10-29                              1.87  2020-10-29
1   2020-10-22                              1.87  2020-10-22
2   2020-10-15                              1.87  2020-10-15
3   2020-10-08                              1.91  2020-10-08
4   2020-10-01                              1.91  2020-10-01
..         ...                               ...         ...
91  2019-01-31                              2.78  2019-01-31
92  2019-01-24                              2.77  2019-01-24
93  2019-01-17                              2.77  2019-01-17
94  2019-01-10                              2.76  2019-01-10
95  2019-01-03                              2.76  2019-01-03

[96 rows x 3 columns]

In [33]:
interest_rate['Date_tmp'] = pd.to_datetime(interest_rate['Date_tmp'])
interest_rate['Date_tmp'] = interest_rate['Date_tmp'].dt.strftime('%m/%Y')

interest_rate

          Date  Estimated variable mortgage rate Date_tmp
0   2020-10-29                              1.87  10/2020
1   2020-10-22                              1.87  10/2020
2   2020-10-15                              1.87  10/2020
3   2020-10-08                              1.91  10/2020
4   2020-10-01                              1.91  10/2020
..         ...                               ...      ...
91  2019-01-31                              2.78  01/2019
92  2019-01-24                              2.77  01/2019
93  2019-01-17                              2.77  01/2019
94  2019-01-10                              2.76  01/2019
95  2019-01-03                              2.76  01/2019

[96 rows x 3 columns]

In [34]:
interest_rate_groupped_df = interest_rate.groupby(['Date_tmp'],as_index=False).mean()

interest_rate_groupped_df = interest_rate_groupped_df.rename(columns = {'Date_tmp':'Date'})

interest_rate_groupped_df

       Date  Estimated variable mortgage rate
0   01/2019                            2.7680
1   01/2020                            2.8960
2   02/2019                            2.8075
3   02/2020                            2.8900
4   03/2019                            2.8875
5   03/2020                            2.6100
6   04/2019                            2.8800
7   04/2020                            2.3420
8   05/2019                            2.8820
9   05/2020                            2.2400
10  06/2019                            2.9000
11  06/2020                            2.1125
12  07/2019                            2.9000
13  07/2020                            2.0200
14  08/2019                            2.9000
15  08/2020                            1.9625
16  09/2019                            2.9000
17  09/2020                            1.9275
18  10/2019                            2.9000
19  10/2020                            1.8860
20  11/2019                            2.9000
21  12/2019                            2.9000