In [4]:
import pandas as pd
import datetime as pt

In [5]:
data_path = "BankofCanda_interest_rate.csv"
interest_rate = pd.read_csv(data_path)
interest_rate

           Date  Interest rate
0    2019-11-01           1.75
1    2019-11-04           1.75
2    2019-11-05           1.75
3    2019-11-06           1.75
4    2019-11-07           1.75
..          ...            ...
257  2020-10-27           0.25
258  2020-10-28           0.25
259  2020-10-29           0.25
260  2020-10-30           0.25
261  2020-11-02           0.25

[262 rows x 2 columns]

In [6]:
interest_rate['Date_tmp'] = interest_rate["Date"]
interest_rate

           Date  Interest rate    Date_tmp
0    2019-11-01           1.75  2019-11-01
1    2019-11-04           1.75  2019-11-04
2    2019-11-05           1.75  2019-11-05
3    2019-11-06           1.75  2019-11-06
4    2019-11-07           1.75  2019-11-07
..          ...            ...         ...
257  2020-10-27           0.25  2020-10-27
258  2020-10-28           0.25  2020-10-28
259  2020-10-29           0.25  2020-10-29
260  2020-10-30           0.25  2020-10-30
261  2020-11-02           0.25  2020-11-02

[262 rows x 3 columns]

In [9]:
interest_rate['Date_tmp'] = pd.to_datetime(interest_rate['Date_tmp'])
interest_rate['Date_tmp'] = interest_rate['Date_tmp'].dt.strftime('%m/%Y')

interest_rate

           Date  Interest rate Date_tmp
0    2019-11-01           1.75  11/2019
1    2019-11-04           1.75  11/2019
2    2019-11-05           1.75  11/2019
3    2019-11-06           1.75  11/2019
4    2019-11-07           1.75  11/2019
..          ...            ...      ...
257  2020-10-27           0.25  10/2020
258  2020-10-28           0.25  10/2020
259  2020-10-29           0.25  10/2020
260  2020-10-30           0.25  10/2020
261  2020-11-02           0.25  11/2020

[262 rows x 3 columns]

In [10]:
interest_rate_groupped_df = interest_rate.groupby(['Date_tmp'],as_index=False).mean()

interest_rate_groupped_df = interest_rate_groupped_df.rename(columns = {'Date_tmp':'Date'})

interest_rate_groupped_df

       Date  Interest rate
0   01/2020       1.750000
1   02/2020       1.750000
2   03/2020       0.954545
3   04/2020       0.250000
4   05/2020       0.250000
5   06/2020       0.250000
6   07/2020       0.250000
7   08/2020       0.250000
8   09/2020       0.250000
9   10/2020       0.250000
10  11/2019       1.750000
11  11/2020       0.250000
12  12/2019       1.750000