In [37]:
import requests
import pandas as pd
import json
import quandl
from pprint import pprint
import datetime as dt

quandl.ApiConfig.api_key = 'x_XCDoMssgvRUBStbiPn'

response_one = quandl.get('CMHC/HPPA50_ON')

In [55]:
response_two = quandl.get('CMHC/HPPA50_ON', start_date='2019-01-01', end_date='2020-09-30')
response_df = pd.DataFrame(response_two, columns = ['Average', 'Units']).reset_index()
response_df

         Date   Average   Units
0  2019-01-31  952417.0  1544.0
1  2019-02-28  969348.0  1370.0
2  2019-03-31  822919.0  1090.0
3  2019-04-30  781375.0  1537.0
4  2019-05-31  940509.0  1808.0
5  2019-06-30  907690.0  1315.0
6  2019-07-31  872848.0  1379.0
7  2019-08-31  874600.0  1243.0
8  2019-09-30  840612.0  1355.0
9  2019-10-31  845374.0  1286.0
10 2019-11-30  822800.0  1287.0
11 2019-12-31  820830.0  1379.0
12 2020-01-31  844830.0  1144.0
13 2020-02-29  853468.0  1184.0
14 2020-03-31  898243.0   943.0
15 2020-04-30  832860.0  1365.0
16 2020-05-31  903186.0  1098.0
17 2020-06-30  978462.0  1317.0
18 2020-07-31  792402.0  1547.0
19 2020-08-31  830097.0  1299.0
20 2020-09-30  855467.0  1579.0

In [56]:

response_df['key_date'] = response_df['Date'].dt.strftime('%m/%Y')
response_df

         Date   Average   Units key_date
0  2019-01-31  952417.0  1544.0  01/2019
1  2019-02-28  969348.0  1370.0  02/2019
2  2019-03-31  822919.0  1090.0  03/2019
3  2019-04-30  781375.0  1537.0  04/2019
4  2019-05-31  940509.0  1808.0  05/2019
5  2019-06-30  907690.0  1315.0  06/2019
6  2019-07-31  872848.0  1379.0  07/2019
7  2019-08-31  874600.0  1243.0  08/2019
8  2019-09-30  840612.0  1355.0  09/2019
9  2019-10-31  845374.0  1286.0  10/2019
10 2019-11-30  822800.0  1287.0  11/2019
11 2019-12-31  820830.0  1379.0  12/2019
12 2020-01-31  844830.0  1144.0  01/2020
13 2020-02-29  853468.0  1184.0  02/2020
14 2020-03-31  898243.0   943.0  03/2020
15 2020-04-30  832860.0  1365.0  04/2020
16 2020-05-31  903186.0  1098.0  05/2020
17 2020-06-30  978462.0  1317.0  06/2020
18 2020-07-31  792402.0  1547.0  07/2020
19 2020-08-31  830097.0  1299.0  08/2020
20 2020-09-30  855467.0  1579.0  09/2020